<!DOCTYPE html>
<html ng-app="myApp">

<head>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/angular-sanitize/1.6.9/angular-sanitize.min.js"></script>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">

  <title>Main Page</title>
  <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
  <!-- Our Custom CSS -->
  <link rel="stylesheet" href="style5.css">
  <link rel="stylesheet" href="mainSidebar.css">
  <link rel="stylesheet" href="mainPage.css">
</head>

<body>
  <div class="wrapper" ng-controller="sideCtrl" ng-cloak>
    <!-- Sidebar Holder -->
    <nav id="sidebar">
      <div>
        <img src="https://www.cui.edu/Portals/0/Images/Icons/schedule-icon-2.png" alt="Profile Picture" id="profile" />
      </div>

      <ul>
        <p id="student-info" ng-repeat="x in students">{{ x.fname + " " + x.lname }}</p>
        <li class="active">
          <a id='home-btn' href="MainPage.html">Home</a>
        </li>
        <li>
          <a href="roadmap.html">Roadmap</a>
        </li>
        <li>
          <a href="Grades.html">Setting/Grades</a>
        </li>
        <li>
          <a href="javascript:logout()" id='logout'>Logout</a>
        </li>
      </ul>
    </nav>
    <script type="text/javascript">
      function logout() {
        setCookie("cin", 0, 30);
        setCookie("password", 0, 30);
        location.href = "../Registration/index.html";
      }
    </script>
    <script src="cookies.js"></script>
    <!-- Page Content Holder -->
    <div>
      <nav>
        <div>

          <div>
            <button type="button" id="sidebarCollapse" class="navbar-btn">
				<span></span>
				<span></span>
				<span></span>
            </button>
          </div>
        </div>
      </nav>
    </div>


    <div ng-controller='semInfo' ng-cloak id="semInfo">
      <div class="w3-bar">
        <button class="w3-bar-item w3-button w3-teal" ng-click="previousSem()"> Prev </button>
        <button class="w3-bar-item w3-button w3-black no-hover"> {{term}} Semester {{year}} </button>
        <button class="w3-bar-item w3-button w3-teal" ng-click="nextSem()"> Next </button>
      </div>

      <br />

      <div id="classInfo" ng-init="getClasses()" class='classContainer'>
        <div ng-repeat="course in courses">

          <div id="oneClass">
            <div class="panel-heading" class="accordion">
              <a data-toggle="collapse" id="collapseClass">
                <h3 class="panel-title" id="classCode">
                  {{course.classCode}} ({{course.unit}} units)
                </h3>
              </a>
            </div>
            <div id="collapse{{$index}}" class='courseInfo' class="panel">
              <div class="panel-body" id="className">{{course.className}}</div>
              <hr />
              <div class="panel-body" id="description">{{course.description}} </div>
            </div>
          </div>
        </div>

      </div>

      <script src="sidebar.js"></script>
      <script src="MainPage.js"></script>
</body>

</html>
